<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static files in flask</title>
</head>
<body>
    <h1>Serving static files</h1>
    <p> Download the minecraft image from here: <a href = "/static/img1.png" download>Downloads</a></p>
    <p> Download the minecraft image from here: <a href = "/static/img2.png" download>Downloads</a></p>
    <p> Download the minecraft image from here: <a href = "/static/img3.png" download>Downloads</a></p>
    <p> Download the minecraft image from here: <a href = "/static/img4.png" downloadk>Downloads</a></p>
    

</body>
</html>